body{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;

}

.header{
    background-color: white;
    max-width: 1332px;
    margin-left: auto;
    margin-right: auto;

    &__menu{
        display: flex;
        justify-content: space-between;

    }

    &__nav{
        width: 703px;
        height: 36px;

    }
    &__ul{
        display: flex;
        justify-content: space-between;
    }
    &__list{
        list-style: none;
    }
    &__lista{
        text-decoration: none;
        font-family: Poppins;
        font-style: Medium;
        font-size: 24px;
        line-height: 36px;
        line-height: 100%;
        text-align: Left;
        vertical-align: Top;
        color:  #333333;
    }

    &__section1{
        width: 500px;
        margin-left: 277px;

    }
    &__section2{
        width: 350px;
        margin-left: 277px;
    
    }

    &__h3{
        font-family: poppins;
        font-style: Medium;
        font-size: 18px;
        line-height: 27px;
        line-height: 100%;
        text-align: Left;
        vertical-align: Top;
        color: #2D9CDB;

    }
    &__h2{
        font-family: poppins;
        font-style: Medium;
        font-size: 48px;
        line-height: 72px;
        text-align: Left;
        vertical-align: Top;
        color:  #333333 ;
        width: 543px;
        height: 144px;
    }
   
    &__baner{
        width: 100%;
        border-radius: 10px;
    }
    &__parrafo{
        font-family: Poppins;
        font-style: Regular;
        font-size: 18px;
        line-height: 27px;
        line-height: 100%;
        text-align: Left;
        vertical-align: Top;
        color: #4F4F4F;
}
.main{
    max-width: 1000px;
    align-items: center;

    &__container{
        width: 360px;

    }

    &__hijo{
        width: 100%;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: 1fr;
    }
       &__hijo1{
           width: 900px;
            


}
    

    &__container2{
        display: grid;     

       
        &__button{
            font-family: 'Poppins';
            font-style: normal;
            font-size: 16px;
            color: #ffffff83;
            border-radius: 12px;
            width: 10px;
            

      

    }
    &__container3{
        width: 100%;
        display: flex;

        
        &__hijo1{


            &--bloque1{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                align-content: space-between;

                &--imag1{
                    width: 50px;
                    height: 500px;
                    border-radius: 12px;
                }
                &--imag2{
                    width: 100px;
                    height: 00px;
                    border-radius: 12px;
                }

            }
        }

        &--hijo2{
            display: flex;

            &--bloque2{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;

                &--imag3{
                    width: 500px;
                    height: 500px;
                    border-radius: 12px;
                }
                &--imag4{
                    width: 500px;
                    height: 500px;
                    border-radius: 12px;
    
    
                }


            }
            
           

        
    

